<p id="notice"><%= notice %></p>

<h1>Pagynia Items</h1>

<div data-controller="infinite-scroll" data-action="scroll@window->infinite-scroll#scroll">
  <div>
    <table>
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Age</th>
        <th>spliter</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody data-target="infinite-scroll.entries">
      <%= render "posts" %>
      </tbody>
    </table>

    <br>
  </div>
  <div data-infinite-scroll-target="pagination" style="display: none">
    <%== pagy_nav(@pagy) %>
  </div>

  <%= link_to 'New Item', new_item_path %>

</div>